<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="dist/styles/bundle.min.css">
    <link href="assets/favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="UTF-8">
    <title>
        <%= eventName %>
    </title>
</head>
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="/"><%= eventName %><span style="font-weight: bold"> <%= pageTitle %></span></a>
    <ul class="nav navbar-nav float-xs-right">
        <%
        menu.forEach(function(menuItem){
        %>
        <li class="nav-item <% if (menuItem.isActive) { %>active <% } %>"><a class="nav-link" href="<%= menuItem.path %>"><%= menuItem.name %></a></li>
        <% }); %>
    </ul>
</nav>
<body>