<% include ./partials/header %>
<div class="container team-data-edit mt-1">
    <form id="updateTeamForm">
        <input type="hidden" name="admin_email" id="userEmail" value="<%= user.email %>"/>
        <input type="hidden" name="team_admin_email" id="team_admin_email" value="<%= team.admin_email %>"/>
        <input type="hidden" name="team_id" id="teamId" value="<%= team._id %>"/>
        <div class="form-group">
            <label for="teamName">Team Name: </label>
            <input type="text" class="form-control" value="<%= team.team_name %>" id="teamName" name="team_name"
                   aria-describedby="teamNameHelp">
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="teamIdea">Idea: </label>
                    <textarea rows="4" type="text" class="form-control" id="teamIdea"
                              aria-describedby="teamIdeaHelp" name="idea"><%= team.idea %></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="whatLoookingFor">What are we looking for: </label>
                    <textarea rows="4" type="text" class="form-control" name="lookingText" id="whatLoookingFor"
                              aria-describedby="whatLoookingForHelp"
                              placeholder="Please describe what kind of members you are looking for to join your team, e.g. Designers, Programmers and etc."><%= team.lookingText %></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="lookingForTeamMembers">Are you looking for team members?</label>
                <select class="form-control" name="isClosed" id="lookingForTeamMembers">
                    <option>Yes</option>
                    <option
                            <% if (team.isClosed) { %>
                            selected
                            <% } %>
                    >No
                    </option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label for="howManyPC">How many computers do you need?</label>
                <select class="form-control" name="comp" id="howManyPC">
                    <% var teamPC = parseInt(team.comp);
                    for (var j = 0; j <= maxUsersInTeam;j++) { %>
                    <option
                            <% if (teamPC === j) { %>
                            selected
                            <% } %>
                    ><%= j %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="howManyHackathon">How many participated in a Hackathon before?</label>
            <select class="form-control" name="exp" id="howManyHackathon">
                <% var wasInHackathon = parseInt(team.exp);
                for (var k = 0; k <= maxUsersInTeam;k++) { %>
                <option
                        <% if (wasInHackathon === k) { %>
                        selected
                        <% } %>
                ><%= k %></option>
                <% } %>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5>Team Members</h5>
                <ul class="list-group" id="teamMembers">
                    <% console.log(team) %>
                    <% for (var x = 0; x < team.members.length; x++){ %>
                    <li class="list-group-item">
                        <span><%= team.members[x] %></span>
                        <% if (team.members[x] !== team.admin_email) { %>
                        <button type="button" class="float-xs-right btn btn-danger btn-sm removeUserFromTeam">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <% } %>
                    </li>
                    <% } %>
                    <% var teamNotFull = team.members.length < maxUsersInTeam; %>
                    <button type="button"
                            <% if (!teamNotFull) { %>
                            disabled
                            <% } %>
                            id="searchTeamMembers"
                            class="text-xs-center list-group-item list-group-item-action <% if (teamNotFull) { %> list-group-item-info <% } else { %> list-group-item-danger <% } %>">
                        <% if (teamNotFull) { %>
                        Add Team Members (<%= team.members.length %>/<%= maxUsersInTeam %>)
                        <% } else { %>
                        Your group is full (<%= team.members.length %>/<%= maxUsersInTeam %>)
                        <% } %>
                    </button>
                </ul>
            </div>
            <div class="col-lg-6">
                <h5>Waiting For Approval</h5>
                <ul class="list-group" id="waitingForApprovalList">
                    <% var teamAppliers = team.appliedMembers || [];
                    for (var z = 0;z < teamAppliers.length;z++){ %>
                    <li class="list-group-item">
                        <span><%= teamAppliers[z] %></span>
                        <div class="float-xs-right">
                            <button type="button" class="btn btn-primary btn-sm approve-user">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm disapprove-user">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    <% } if (teamAppliers.length === 0) { %>
                    <li class="list-group-item"><span>There is no application for your team, yet</span></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="float-xs-right mt-1 mb-1">
            <button id="updateGroupBtn" type="submit" class="btn btn-primary btn-lg">Update Team</button>
            <button id="deleteGroupBtn" class="btn btn-danger btn-lg">Delete Team</button>
        </div>
    </form>
</div>

<div id="searchDialogForm" class="search-users-dialog-form" title="Search for users">
    <form>
        <div class="form-group">
            <label for="emailInput">Enter User's Email Address</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                   placeholder="Enter email">
        </div>
        <button id="addMember" class="btn btn-primary btn-sm">Add Member</button>
    </form>
</div>
<% include ./partials/modals %>
<% include ./partials/footer %>